:root{
    --branding-color: #f5abab;
    --secondary-color: #f2f2f2;
    --text-color: #132743;
    --heading-font-family: 'Playfair Display', serif;
    --default-font-family: 'Poppins', sans-serif;
}

body{
    font-family: var(--default-font-family);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
    font-family: var(--heading-font-family);
    font-weight: bold;
}

h1 {
    font-size: 90px;
    line-height: 1.5;
}

.project-description h2{
    font-size: 64px;
}

p{
    color: var(--text-color) !important;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

.content-container{
    padding: 160px 20px;
}

.content h1{
    font-size: 64px;
    line-height: 80px;
}

.content h2{
    font-family: var(--default-font-family);
    font-weight: bold;
    line-height: 1.5;
    font-size: 24px;
}

.content h3 {
    font-size: 24px;
    line-height: 1.5;
    font-family: var(--default-font-family);
}

.content p{
    font-size: 18px;
    font-family: var(--default-font-family);
}

.content{
    margin: 30px;
}

.hero {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}

.hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.hero h2 {
    font-family: var(--default-font-family);
    font-weight: normal;
    line-height: 1.5;
    font-size: 24px;
}

.btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.btn-branding:hover{
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    background: var(--secondary-color);
}

.btn-branding-outline{
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.btn-branding-outline:hover{
    background: var(--branding-color);
    color: white;
}

.project-description{
    padding: 60px 60px;
}

.profile-pic{
    border-radius: 50%;
    border: 10px solid white;
}

@media (max-width: 960px){
    h1 {
        font-size: 50px;
        line-height: 56px;
    }

    h2 {
      font-size: 44px;
    } 

    .contents{
        text-align: center;
        padding: 0;
    }

    .hero{
        padding: 80px 20px;
    }

    .hero p{
        font-size: 25px;
    }

    .project-description{
        padding: 0px;
        text-align: center;
    }
}