:root {
  --branding-color: #f5abab;
  --secondary-color: #f2f2f2;
  --text-color: #132743;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 90px;
  line-height: 1.5;
}

h3 {
  font-size: 48px;
}
nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

.project-description h2 {
  font-size: 64px;
}

p {
  color: var(--text-color) !important;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.content-container {
  padding: 60px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-family: var(--default-font-family);
  font-weight: bold;
  line-height: 1.5;
  font-size: 24px;
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content {
  margin: 30px;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 120px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  background: var(--secondary-color);
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline:hover {
  background: var(--branding-color);
  color: white;
}

.logo {
  max-height: 40px;
}

.project-description {
  padding: 60px 60px;
}

.profile-pic {
  border-radius: 50%;
  border: 10px solid white;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 5px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

@media (max-width: 960px) {
  h1 {
    font-size: 50px;
    line-height: 56px;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 26px;
  }
  nav a {
    font-size: 12px;
  }

  .content-container {
    text-align: center;
    padding: 10px;
  }

  .hero {
    padding: 80px 20px;
  }

  .hero p {
    font-size: 25px;
  }

  .project-description {
    padding: 0px;
    text-align: center;
  }

  footer .contact-box {
    padding: 30px;
  }

  footer .btn-branding {
    font-size: 12px;
    line-height: 20px;
    padding: 10px 15px;
  }
}
