:root {
  --branding-color: #f95959;
  --secondary-color: #f2f2f2;
  --text-color: black;
  --heading-font-family: "Handlee", cursive;
  --default-font-family: "Nunito", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 90px;
  line-height: 1.5;
}

h3 {
  font-size: 48px;
}
nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 30px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

nav .logo-link {
  line-height: 30px;
  font-size: 20px;
}

.project-description h2 {
  font-size: 64px;
}

p {
  color: var(--text-color);

  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.content-container {
  padding: 60px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-family: var(--default-font-family);
  font-weight: bold;
  line-height: 1.5;
  font-size: 24px;
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.container-nav {
  box-shadow: 0px 5px 10px rgb(0 0 0 / 30%);
}

.content {
  margin: 30px;
}

.hero {
  background-image: url(../images/datascience-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  text-align: center;
  padding: 120px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: white;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.hero h2,
.hero h1 {
  color: white;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-min {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 15px;
  line-height: 15px;
  padding: 10px 20px;
}

.btn-branding:hover,
.btn-branding-min:hover {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  background: white;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline:hover {
  background: var(--branding-color);
  color: white;
}

.logo {
  max-height: 40px;
}

.project-description {
  padding: 60px 60px;
}

.img-container {
  padding: 20px;
  background-color: var(--secondary-color);
  transition: all 300ms ease-in-out;
}

.img-container:hover {
  background-color: var(--branding-color);
}

.img-container img {
  margin: 0 auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.work-container {
  margin: 0 auto;
  max-width: 1400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.work-container .project-container {
  position: relative;
  width: 450px;
  height: 350px;
  margin: 20px;
  overflow: hidden;
}
.work-container .project-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.work-container .project-info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
  transition-delay: 0.5s;
}
.work-container .project-container:hover .project-info::before {
  transform: scaleX(1);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
  transition-delay: 0s;
}
.work-container .content-info {
  position: relative;
  padding: 20px 35px;
  transition: 0.5s;
  transform: translateX(-420px);
  transition-delay: 0.5s;
  z-index: 100;
}
.work-container .project-container:hover .project-info .content-info {
  transform: translateX(0px);
}

.profile-pic {
  background-color: var(--branding-color);
  border-radius: 50%;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 5px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

@media (max-width: 960px) {
  h1 {
    font-size: 50px;
    line-height: 56px;
  }

  .content h1 {
    font-size: 50px;
  }
  h2,
  .project-description h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 26px;
  }
  nav a {
    font-size: 12px;
  }

  nav .logo-link {
    font-size: 15px;
  }

  nav {
    padding: 10px 0;
  }

  .content-container {
    text-align: center;
    padding: 10px;
  }

  .hero {
    padding: 80px 20px;
  }

  .hero p {
    font-size: 25px;
  }

  .project-description {
    padding: 0px;
    text-align: center;
  }

  footer .contact-box {
    padding: 30px;
  }

  footer .btn-branding {
    font-size: 12px;
    line-height: 20px;
    padding: 10px 15px;
  }

  .work-container .project-container {
    width: 300px;
    height: 300px;
  }

  .work-container .content-info {
    transform: translateX(-300px);
  }
}
